<section class="">
    <div class="container">
        <div class="row  justify-content-center align-items-center">
            <div class="col-md-10">
                <div class="card bg-white">
                    <div class="d-flex justify-content-center w-75 mx-auto"><img class="w-50"  src="./assets/images/authlogo.svg" alt=""></div>
                    <h1>Register</h1>
                    <p>Welcome Back! Please enter your details</p>
             <form action="" [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <!-- in app.component.html -->
                    <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
	                  <ngx-dropzone-label><i class="fa-solid fa-upload"></i> Upload Your Image</ngx-dropzone-label>
                      <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f">
                        <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                      </ngx-dropzone-image-preview>
                     </ngx-dropzone>
                    </div>
                    <div class="col-md-6">
                        <!-- username  -->
                        <div class="input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-user"></i></span>
                            <input formControlName="userName" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                          <p class="text-danger" *ngIf="registerForm.get('userName')?.getError('required')&&registerForm.get('userName')?.touched">User Name is Requird</p>
                    </div>
                    <div class="col-md-6">
                        <!-- email  -->
                        <div class="input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-envelope"></i></span>
                            <input formControlName="email" type="email" class="form-control" placeholder="Enter your E-mail" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                          <p class="text-danger" *ngIf="registerForm.get('email')?.getError('email')">Email not Valid</p>
                          <p class="text-danger" *ngIf="registerForm.get('email')?.getError('required')&&registerForm.get('email')?.touched">Email is Required</p>
                    </div>
                    <div class="col-md-6">
                        <!-- country  -->
                        <div class="input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-earth-americas"></i></span>
                            <input formControlName="country" type="text" class="form-control" placeholder="Country" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                          <p class="text-danger" *ngIf="registerForm.get('country')?.getError('required')&&registerForm.get('country')?.touched">Country Name is Required</p>
                    </div>
                    <div class="col-md-6">
                        <!-- phone -->
                        <div class="input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-mobile-screen-button"></i></span>
                            <input formControlName="phoneNumber" type="tel" class="form-control" placeholder="PhoneNumber" aria-label="Username" aria-describedby="addon-wrapping">
                          </div>
                          <p class="text-danger" *ngIf="registerForm.get('phoneNumber')?.getError('required')&&registerForm.get('phoneNumber')?.touched">Phone is Required</p>
                          <p class="text-danger" *ngIf="registerForm.get('phoneNumber')?.getError('pattern')">Not Valid Phone Number</p>
                    </div>
                    <div class="col-md-6">
                        <!-- pass -->
                        <div class="input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                            <div class="position-relative w-100">
                                <input [type]="eyepass?'text':'password'" formControlName="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                                <i class="fa-solid position-absolute top-50 translate-middle-y" [class]="eyepass?'fa-eye':'fa-eye-slash'" (click)="eyepass=!eyepass"></i>
                            </div>
                          </div>
                          <p class="text-danger" *ngIf="registerForm.get('password')?.getError('required')&&registerForm.get('password')?.touched">Password is Required</p>
                        </div>
                    <div class="col-md-6">
                        <!-- rePass -->
                        <div class="input input-group flex-nowrap mb-1 mt-3">
                            <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-lock"></i></span>
                            <div class="w-100 position-relative"><input [type]="eyeConfirm?'text':'password'" class="form-control input" formControlName="confirmPassword" placeholder="Confirm Password" aria-label="Username" aria-describedby="addon-wrapping">
                                <i class="fa-solid  position-absolute top-50 translate-middle-y" (click)="eyeConfirm=!eyeConfirm" [class]="eyeConfirm?'fa-eye':'fa-eye-slash'"></i>
                            </div>
                        </div>
                        <p class="text-danger" *ngIf="registerForm.get('confirmPassword')?.getError('required')&&registerForm.get('confirmPassword')?.touched">confirm Password is Required</p>
                        <p class="text-danger" *ngIf="registerForm.get('confirmPassword')?.getError('compare')">Password Not match</p>
                    </div>
        </div>
                <div class="d-flex justify-content-between mt-3">
                    <a href="" class="text-end" routerLink="/auth/login">Login Now?</a>
                    <button class="dibuton" (click)="openDialog('500ms', '250ms')" type="button">Verify Now</button>
                </div>
                <button class="buton mt-4 rounded-2 w-50 d-block mx-auto">Register <i *ngIf="loading" class="fa-solid fa-spinner fa-spin-pulse text-white"></i></button>
            </form>
                </div>
            </div>
        </div>
    </div>
</section>