<section>
    <h1 class="fw-bold m-0">Find A <span class="text-success">Recipe !</span></h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <mat-form-field class="example-full-width w-100"  appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchValue" (keyup.enter)="getRecipes()">
              </mat-form-field>
        </div>
        <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
  <mat-label>Category</mat-label>
  <mat-select [(ngModel)]="cat" (selectionChange)="getRecipes()">
    <mat-option  value="0">All</mat-option>
    <mat-option  *ngFor="let item of categories" [value]="item.id">{{item.name}}</mat-option>
  </mat-select>
</mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Tag</mat-label>
                <mat-select [(ngModel)]="tag" (selectionChange)="getRecipes()">
                    <mat-option  value="0">All</mat-option>
                  <mat-option  *ngFor="let item of tags" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-md-4" *ngFor="let item of recipeData">
          <div class="cart shadow-sm rounded-top-4 rounded-bottom-4 p-3 cursor-pointer">
            <div class="mb-2 position-relative" style="height: 300px;">
                <img  [src]="imgUrl+item.imagePath" class="w-100 h-100" alt="">
                <span class="badge p-2 bg-white text-success position-absolute">{{item.price | currency}}</span>
            </div>
            
            <h1 class="m-0 mb-1"><span class="fw-semibold">Dish Name : </span> <span class="text-success">{{item.name}}</span></h1>
            <p class="mb-1">
                <span class="fw-semibold h4">Category : </span>
                <span *ngFor="let c of item.category">
                    <span class="h5">{{c.name}}</span>
                </span>
            </p>
            <h3><span class="fw-semibold h4">Classificaion : </span> <span class="h5">{{item.tag.name}}</span></h3>
            <button (click)="addToFav(item.id,ele)" #ele class="buton w-75 d-block mx-auto rounded-2 mt-2">Add to Favourites <i class="fa-solid fa-heart-circle-plus text-danger"></i></button>
          </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <mat-paginator #paginator
        class="demo-paginator"
        (page)="handlePageEvent($event)"
        [length]="totalData"
        [pageSize]="pSize"
        [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
        [pageIndex]="pNum"
        aria-label="Select page">
    </mat-paginator>
    </div>
    
</section>