<section class="overflow-x-hidden">
 <div class="row justify-content-center">
    <div class="d-flex justify-content-end me-2 my-3"><i (click)="close()" class="fa-regular fa-circle-xmark text-danger fa-xl"></i></div>
    <div class="col-md-10">
        <img src="./assets/images/delete-img.svg" class="w-100" alt="">
        <h1 class="text-center h1" *ngIf="data.toknow=='cat'">Delete This Category ?</h1>
        <h1 class="text-center h1" *ngIf="data.toknow=='rec'">Delete This Recipe ?</h1>
        <h1 class="text-center h1" *ngIf="data.toknow=='del'">Delete This User ?</h1>
        <p class="text-center">
            are you sure you want to delete this item ? if you are sure just click on delete it
        </p>
        <mat-divider></mat-divider>
    <button class="btn btn-danger d-block ms-auto my-3" cdkFocusInitial [matDialogClose]="data.know">Delete this item</button>
    </div>
 </div>
</section>