<section class="w-100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-3 title">Verification Form</h1>
                <form action="" [formGroup]="verifyForm" (ngSubmit)="verify()">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-regular fa-envelope"></i></span>
                        <input formControlName="email" type="email" class="form-control" placeholder="Your Email" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-shield-halved"></i></span>
                        <input formControlName="code" type="text" class="form-control" placeholder="Activation Code" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                      <button class="buton rounded-2 text-center w-25 d-block ms-auto mb-3" type="submit">
                        Verify <i *ngIf="loading" class="fa-solid fa-spinner fa-spin text-white"></i>
                    </button>
                   </form>
            </div>
        </div>
    </div>
</section>